body{
    background-color:#d1af90;
}
h1{
    background-color:#c48954;
    color:#522600;
    text-decoration-line:underline;
    text-decoration-color:#522600;
    text-align:center;
    font-family:'Times New Roman', Times, serif;
}